<div class="container mt-3">
  <div class="mt-4 p-5 bg-primary text-white rounded">
    <h1>MEAN Authentication App</h1>
    <p>
      Hi Welcome to our MEAN Authenticaon application, built with Angular and
      Express backend, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <a class="btn btn-dark m-2" [routerLink]="['/register']">Register</a>
    <a class="btn btn-dark" [routerLink]="['/login']">Login</a>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <h3>Express Backend</h3>
      <p>
        Express.js, or simply Express, is a back end web application framework
        for building RESTful APIs with Node.js, released as free and open-source
        software under the MIT License. It is designed for building web
        applications and APIs. It has been called the de facto standard server
        framework for Node.js.
      </p>
    </div>
    <div class="col-md-4">
      <h3>Angular Frontend</h3>
      <p>
        Angular (also referred to as "Angular 2+") is a TypeScript-based free
        and open-source web application framework led by the Angular Team at
        Google and by a community of individuals and corporations. Angular is a
        complete rewrite from the same team that built AngularJS.
      </p>
    </div>
    <div class="col-md-4">
      <h3>Passport/JWT Authentication</h3>
      <p>
        Passport is authentication middleware for Node.js. Extremely flexible
        and modular, Passport can be unobtrusively dropped in to any
        Express-based web application. A comprehensive set of strategies support
        authentication using a username and password, Facebook, Twitter, and
        more.
      </p>
    </div>
  </div>
</div>
